---
---

{% include styling/font.css %}

body {
  overflow: hidden;
  background-color: {%- include styling/theme-color.css -%};
  font-family: "Open Sans";
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.error p {
  font-size: 1.4em;
}

.error a {
  color: white;
}

.error a:hover {
  color: rgb(206, 206, 206);
}
