---
---

@import "_base";

body {
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.error {
  p {
    font-size: 1.4em;
  }

  a {
    color: white;
  }
}

.error a:hover {
  color: rgb(206, 206, 206);
}
