<div id="nav-btn" class="openbtn" onclick="toggleNav()">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav aria-label="site" class="sidebar-nav" id="snav">
    <table class="sidebar-table">
        {%- if site.data.sidebar and site.data.sidebar.items -%}
            {%- for item in site.data.sidebar.items -%}
                <tr class="sidebar-tr">
                    {%- if item.fa-icon-classes -%}
                        <td class="sidebar-td">
                            <i class="{{ item.fa-icon-classes }} sidebar-icon"></i>
                        </td>
                    {%- endif -%}
                    <td class="sidebar-td">
                        <a href="{{ item.url }}"{%- if item.alt -%} alt="{{ item.alt }}"{%- endif -%}>{{ item.name }}</a>
                    </td>
                </tr>
            {%- endfor -%}
        {%- endif -%}
  </table>
</nav>
