<meta charset="{{ site.charset | default: 'utf-8' }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="{%- include styles/theme-color.css -%}">
<meta name="theme-color" content="{%- include styles/theme-color.css -%}">
{% seo %}
{% if site.keywords or page.keywords %}
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">
    {% else %}
        <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
{% endif %}
{% if site.apple-touch-icon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.apple-touch-icon }}">
{% endif %}
{% if site.webmanifest %}
    <link rel="manifest" href="{{ site.webmanifest }}">
{% endif %}
{% if site.browserconfigxml %}
    <meta name="msapplication-config" content="{{ site.browserconfigxml }}">
{% endif %}
{% if site.license_page %}
    <link rel="license" href="{{ site.license_page }}">
{% endif %}
{% if site.author or page.author %}
    {% if site.author %}
        <link rel="author" href="{{ site.author }}">
    {% else %}
        <link rel="author" href="{{ page.author }}">
    {% endif %}
{% endif %}
{% if page.sidebar %}
<script type="text/javascript">
navOpen = false;
function toggleNav() {
  if (navOpen) {
    document.getElementById("snav").style.width = "0";
    navOpen = false;
  } else {
    document.getElementById("snav").style.width = "265px";
    navOpen = true;
  }
  document.getElementById("nav-btn").classList.toggle("open");
}
</script>
{% endif %}
{% unless site.no_extra_head %}
    {% include metadata/extra.html %}
{% endunless %}
