<meta charset="{{ site.charset | default: 'utf-8' }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="{{ include styling/theme-color.css }}">
<meta name="theme-color" content="{{ include styling/theme-color.css }}">
{% seo %}
{% if site.keywords or page.keywords %}
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">
    {% else %}
        <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
{% endif %}
{% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
{% endif %}
{% if site.apple-touch-icon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.apple-touch-icon }}">
{% endif %}
{% if site.webmanifest %}
    <link rel="manifest" href="{{ site.webmanifest }}">
{% endif %}
{% if site.safari-pinned-tab %}
    <link rel="mask-icon" href="{{ site.safari-pinned-tab }}" color="#5bbad5">
{% endif %}
{% if site.browserconfigxml %}
    <meta name="msapplication-config" content="{{ site.browserconfigxml }}">
{% endif %}
{% unless site.no_extra_head %}
    {% include metadata/extra.html %}
{% endunless %}
