<meta charset="utf-8">
<title>{{ include.title | default: site.name }} - {{ site.name }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#303f9f">
<meta name="theme-color" content="#303f9f">
<meta property="og:type" content="website">
<meta property="og:locale" content='{{ site.locale | default: "en_US" }}'>
{% if site.name %}
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta name="twitter:title" content="{{ site.name }}">
{% endif %}
{% if site.index_on_google %}
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
{% endif %}
{% if site.description %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if site.url %}
  <link rel="canonical" href="{{ site.url }}">
  <meta property="og:url" content="{{ site.url }}">
{% endif %}
{% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
{% endif %}
{% if site.apple-touch-icon %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.apple-touch-icon }}">
{% endif %}
{% if site.webmanifest %}
  <link rel="manifest" href="{{ site.webmanifest }}">
{% endif %}
{% if site.safari-pinned-tab %}
  <link rel="mask-icon" href="{{ site.safari-pinned-tab }}" color="#5bbad5">
{% endif %}
{% if site.browserconfigxml %}
  <meta name="msapplication-config" content="{{ site.browserconfigxml }}">
{% endif %}
{% if site.images.tileimage %}
  <meta name="msapplication-TileImage" content="{{ site.microsoft.tileimage }}">
{% endif %}
{% if site.opengraph.image %}
  <meta property="og:image" content="{{ site.opengraph.image }}">
  <meta property="og:image:secure_url" content="{{ site.opengraph.image }}">
{% endif %}
{% if site.twitter_username %}
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
{% endif %}
{% if site.twitter.image %}
  <meta name="twitter:image" content="{{ site.twitter.image }}">
{% endif %}
{% unless site.no_extra_head %}
  {% include metadata/extra.html %}
{% endunless %}
