---
layout: default
title: "Post Archives"
---

<main>
    {% if page.type == "year" %}
        <h1>Posts from {{ page.date | date: "%Y" }}</h1>
    {% endif %}
    {% if page.type == "month" %}
        <h1>Posts from {{ page.date | date: "%-d, %Y" }}</h1>
    {% endif %}
    {% if page.type == "day" %}
        <h1>Posts from {{ page.date | date: "%b %-d, %Y" }}</h1>
    {% endif %}
    {% if page.type == "tag" or page.type == "category" %}
        <h1>Posts with {{ page.type }} '{{ page.title }}'</h1>
    {% endif %}

    <ul class="posts">
        {% for post in page.posts %}
            <li>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <span>-</span>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
