<!DOCTYPE html>
<html lang="en">
    <head>
        {% include metadata/metadata.html pagename=page.title %}
        <link rel="stylesheet" href="/assets/css/error.css"></link>
    </head>
    <body>
        <main>
            <h1 class="animated fadeInRightBig">{{ page.message | default: "Uh oh..." }}</h1>
            <p class="animated delay fadeInLeftBig">
                Error {{ page.code }} ({{ page.desc }})
                {{ content }}
            </p>
        </main>
    </body>
</html>
