<!DOCTYPE html>
<html lang="en">
    <head>
        {% include page-template/metadata.html pagename="You fell off my site!" %}
        <link rel="stylesheet" href="/assets/css/error.css"></link>
    </head>
    <body>
        <div class="error">
            <h1 class="animated fadeInRightBig">{{ site.errormessage | default: "Uh oh... You fell off our site!" }}</h1>
            <p class="animated delay fadeInLeftBig">
                Error {{ page.code }} ({{ page.desc }})
                {% if site.email %}
                    - If you think this is a mistake on our part, please <a href="mailto:{{ site.email }}">send us an email</a>.
                {% endif %}
            </p>
        </div>
    </body>
</html>
