<!DOCTYPE html>
<html lang="en">
    <head>
        {% include metadata/metadata.html %}
        <link rel="stylesheet" href="/assets/css/page.css"></link>
    </head>
    <body>
        <main class="content">
            <h1>{{ page.title }}</h1>
            <div>
                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                <i class="fas fa-user-edit"></i> Author: {{ page.author | default: "Administrator" }}
                <br />
                <i class="fas fa-calendar"></i> Date: {{ page.date | date: date_format }}
                {% if page.tag %}
                    <br />
                    <i class="fa fa-tag"></i> Tag: {{ page.tag }}
                {% endif %}
            </div>

            <hr />
            {{ content }}
        </main>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </body>
</html>
